@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pcom-model-intro-highlight-color: 216 216 219;
}

html{
  max-width: 99vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

svg {
  fill: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 0.5s forwards;
}

html,
body {
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Clase para recorte diagonal de la primera imagen */
.clip-diagonal {
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
}

/* Clase para recorte diagonal inverso */
.clip-diagonal2 {
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
}

.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-color-main {
  background: linear-gradient(to top,
      rgb(var(--pcom-model-intro-highlight-color)),
      rgba(var(--pcom-model-intro-highlight-color) / 0.95) 8.1%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.85) 15.5%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.75) 22.5%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.65) 29%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.55) 35.3%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.45) 47.1%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.35) 52.9%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.25) 64.7%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.15) 71%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.10) 77.5%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.05) 84.5%,
      rgba(var(--pcom-model-intro-highlight-color) / 0.02) 91.9%,
      rgba(var(--pcom-model-intro-highlight-color) / 0));
}

.swiper-pagination {
  text-align: center;
  bottom: 33px !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: gray !important;
  opacity: 0.7;
  transition: transform 0.3s, background-color 0.3s;
}
.swiper-pagination-bullet-active {
  background-color: black;
  transform: scale(1.2);
}


/* From Uiverse.io by bbaginuk */ 
/*------ Settings ------*/
.container {
  --color: #000000;
  --size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .play {
  position: absolute;
  animation: keyframes-fill 0.3s;
}

.container .pause {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.3s;
}

/* ------ On check event ------ */
.container input:checked ~ .play {
  display: none;
}

.container input:checked ~ .pause {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
  }
}
